 {% extends "templates/layout/cmsBaseWeb.html" %} 
{% block title %}
Haweli | Home

{% endblock %}
 {% block content %}
  <section class="rev_slider_wrapper">
        <div id="rev_slider" class="rev_slider" data-version="5.0">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="fade">
                    <!-- MAIN IMAGE -->
                    <img src="/assets/frappe/images/hom2-banner1.jpg" alt="" data-bgposition="center center" data-bgfit="cover">
                    <!-- LAYER NR. 1 -->
                    <h1 class="tp-caption tp-resizeme text-center" data-x="center" data-hoffset="15" data-y="170" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="500" data-splitin="none" data-splitout="none" style="z-index: 6;">
                          <span class="small_title">Yes We Have</span> <br> The &nbsp; Best &nbsp; Fish &nbsp;<span class="color">Steak</span>
                       </h1>
                    <!-- LAYER NR. 2 -->
                    <p class="tp-caption tp-resizeme text-center" data-x="center" data-hoffset="15" data-y="310" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="800" style="z-index: 9;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        <br>sed diam nonummy nibh euismod.
                    </p>
                    <div class="tp-caption fade tp-resizeme text-center" data-x="center" data-hoffset="15" data-y="380" data-width="full" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1200" style="z-index: 12;">
                        <a href="#order-form" class="btn-common btn-white page-scroll">Order Now</a>
                    </div>
                </li>
                <li data-transition="fade text-center">
                    <img src="/assets/frappe/images/hom2-banner2.jpg" alt="" data-bgposition="center center" data-bgfit="cover">
                    <h1 class="tp-caption tp-resizeme text-center" data-x="center" data-hoffset="15" data-y="170" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="500" data-splitin="none" data-splitout="none" style="z-index: 6;">
                          <span class="small_title">Yes We Have</span> <br> The &nbsp; Best &nbsp; Fish &nbsp;<span class="color">Steak</span>
                       </h1>
                    <!-- LAYER NR. 2 -->
                    <p class="tp-caption tp-resizeme text-center" data-x="center" data-hoffset="15" data-y="310" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="800" style="z-index: 9;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        <br>sed diam nonummy nibh euismod.
                    </p>
                    <div class="tp-caption fade tp-resizeme text-center" data-x="center" data-hoffset="15" data-y="380" data-width="full" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1200" style="z-index: 12;">
                        <a href="#order-form" class="btn-common btn-white page-scroll">Order Now</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- END REVOLUTION SLIDER -->
    <!--Features Section-->
    <section class="feature_wrap padding-half" id="specialities">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="heading ">Our &nbsp; Specialities</h2>
                    <hr class="heading_space">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 feature text-center">
                 
                    <img src="/assets/frappe/images/news-img1.jpg" alt="Events" class="img-responsive">
                    <h3><a href="services.html">Events</a></h3>

                    <p class="text-c">Currently we don’t have any events. Visit this section regularly for more updates.</p>
                </div>
                <div class="col-md-4 col-sm-6 feature text-center">
                    <img src="/assets/frappe/images/news-img1.jpg" alt="Events" class="img-responsive">
                    <h3><a href="services.html">Lunch</a></h3>
                    <p class="text-c">Alberta lamb marinated in spices &amp; cooked in light saffron &amp; mind leaf flavourelamb-biryanid sauce, on a law heat with basmati rice.</p>
                </div>
                <div class="col-md-4 col-sm-6 feature text-center">
                   <img src="/assets/frappe/images/news-img1.jpg" alt="Events" class="img-responsive">
                    <h3><a href="services.html">Dinner</a></h3>
                    <p class="text-c">Whole wheat bread backed in the tandoor and brushed with butter</p>
                </div>
       
            </div>
        </div>
    </section>
    <!--Services plus working hours-->
    <section id="services" class="padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="heading">Latest &nbsp; Videos</h2>
                    <hr class="heading_space">
                    <div class="slider_wrap">
                        <div id="service-slider" class="owl-carousel">
                            <div class="item">
                                <div class="item_inner">
                                    <div class="image">
                                        <iframe width="100%" height="312px" src="https://www.youtube.com/embed/htOki4J2m6Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <a href="services.html"></a>
                                    </div>
                                    <h3><a href="services.html">Haweli Restaurant Musical Weekends</a></h3>
                                    <p>Friends Haweli Restaurant starts a new concept for dinner on Saturday nights from 7 pm to 9 pm...</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item_inner">
                                    <div class="image">
                                        <iframe width="100%" height="312px" src="https://www.youtube.com/embed/htOki4J2m6Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <a href="services.html"></a>
                                    </div>
                                    <h3><a href="services.html">Haweli Restaurant Musical Weekends</a></h3>
                                    <p>Friends Haweli Restaurant starts a new concept for dinner on Saturday nights from 7 pm to 9 pm...</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item_inner">
                                    <div class="image">
                                        <iframe width="100%" height="312px" src="https://www.youtube.com/embed/htOki4J2m6Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <a href="services.html"></a>
                                    </div>
                                    <h3><a href="services.html">Haweli Restaurant Musical Weekends</a></h3>
                                    <p>Friends Haweli Restaurant starts a new concept for dinner on Saturday nights from 7 pm to 9 pm...</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item_inner">
                                    <div class="image">
                                        <iframe width="100%" height="312px" src="https://www.youtube.com/embed/htOki4J2m6Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <a href="services.html"></a>
                                    </div>
                                    <h3><a href="services.html">Haweli Restaurant Musical Weekends</a></h3>
                                    <p>Friends Haweli Restaurant starts a new concept for dinner on Saturday nights from 7 pm to 9 pm...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2 class="heading">Our &nbsp; Menu</h2>
                    <hr class="heading_space">
                    <ul class="menu_widget">
                        <li>Tandoori Salmon<span>$25.00</span></li>
                        <li>Tandoori Lamb chop<span>$27.00</span></li>
                        <li>Tandoori Chicken<span>$26.00</span></li>
                        <li>Prawn Tikka<span>$25.00</span></li>
                        <li>Vegetable Biryani<span>$12.00</span></li>
                        <li>Haweli Chicken Biryani<span>$17.00</span></li>
                        <li>Coconut Rice<span>$7.00</span></li>
                        <li>Prawn Zalfrezy<span>$21.00</span></li>
                    </ul>
                    <h3>Place Your Catering Order Online!</h3>
                    <p > Delivery times are between <strong>7:00 am &amp; 5:00 pm.</strong> Contact Us to make arrangements for delivery outside these times.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- image with content -->
    <section class="info_section paralax">
        <div class="container">
            <div class="row">
                <div class="col-md-2"> </div>
                <div class="col-md-8">
                    <div class="text-center">
                        <h2 class="heading_space">Place Your Catering Order Online!</h2>
                        <p class="heading_space detail text-c">We've now made it even easier to enjoy the best catering service in Edmonton. Click the ORDER ONLINE button to place your order right now!</p>
                        <a href="#order-form" class="btn-common-white page-scroll">Order Now</a>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
    <!-- Food Gallery -->
    <section id="gallery" class="padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="heading ">Delicious &nbsp; Food</h2>
                    <hr class="heading_space">
                    <div class="work-filter">
                        <ul class="text-center">
                            <li><a href="javascript:;" data-filter="all" class="active filter">All Food</a></li>
                            <li><a href="javascript:;" data-filter=".starters" class="filter">Appetizers</a></li>
                            <li><a href="javascript:;" data-filter=".drinks" class="filter">Basmati Rice Bowls</a></li>
                            <li><a href="javascript:;" data-filter=".dinner" class="filter">Breads</a></li>
                            <li><a href="javascript:;" data-filter=".lunch" class="filter">Khane Ke Saath</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="zerogrid">
                    <div class="wrap-container">
                        <div class="wrap-content clearfix home-gallery">
                            <div class="col-1-4 mix work-item drinks">
                                <div class="wrap-col">
                                    <div class="item-container">
                                        <div class="image">
                                            <img src="/assets/frappe/images/gallery1.jpg" alt="cook" />
                                            <div class="overlay">
                                               <a class="fancybox overlay-inner" href="images/gallery1.jpg" data-fancybox-group="gallery"><i class=" icon-eye6"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1-4 mix work-item starters">
                                <div class="wrap-col">
                                    <div class="item-container">
                                        <div class="image">
                                            <img src="/assets/frappe/images/gallery2.jpg" alt="cook" />
                                            <div class="overlay">
                                                <a class="fancybox overlay-inner" href="images/gallery2.jpg" data-fancybox-group="gallery"><i class=" icon-eye6"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1-4 mix work-item dinner">
                                <div class="wrap-col">
                                    <div class="item-container">
                                        <div class="image">
                                            <img src="/assets/frappe/images/gallery3.jpg" alt="cook" />
                                            <div class="overlay">
                                                <a class="fancybox overlay-inner" href="images/gallery3.jpg" data-fancybox-group="gallery"><i class=" icon-eye6"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1-4 mix work-item drinks">
                                <div class="wrap-col">
                                    <div class="item-container">
                                        <div class="image">
                                            <img src="/assets/frappe/images/gallery4.jpg" alt="cook" />
                                            <div class="overlay">
                                                <a class="fancybox overlay-inner" href="images/gallery4.jpg" data-fancybox-group="gallery"><i class=" icon-eye6"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1-4 mix work-item dinner">
                                <div class="wrap-col">
                                    <div class="item-container">
                                        <div class="image">
                                            <img src="/assets/frappe/images/gallery5.jpg" alt="cook" />
                                            <div class="overlay">
                                                <a class="fancybox overlay-inner" href="images/gallery5.jpg" data-fancybox-group="gallery"><i class=" icon-eye6"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1-4 mix work-item lunch">
                                <div class="wrap-col">
                                    <div class="item-container">
                                        <div class="image">
                                            <img src="/assets/frappe/images/gallery6.jpg" alt="cook" />
                                            <div class="overlay">
                                                <a class="fancybox overlay-inner" href="images/gallery6.jpg" data-fancybox-group="gallery"><i class=" icon-eye6"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1-4 mix work-item starters">
                                <div class="wrap-col">
                                    <div class="item-container">
                                        <div class="image">
                                            <img src="/assets/frappe/images/gallery7.jpg" alt="cook" />
                                            <div class="overlay">
                                                <a class="fancybox overlay-inner" href="images/gallery7.jpg" data-fancybox-group="gallery"><i class=" icon-eye6"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1-4 mix work-item starters">
                                <div class="wrap-col">
                                    <div class="item-container">
                                        <div class="image">
                                            <img src="/assets/frappe/images/gallery8.jpg" alt="cook" />
                                            <div class="overlay">
                                                <a class="video fancybox.iframe overlay-inner" href="/assets/frappe/images/gallery8.jpg"><i class=" icon-eye6"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- facts counter  -->
    <section id="facts">
        <div class="container">
            <div class="row number-counters">
                <!-- first count item -->
                <div class="col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="counters-item row">
                        <i class="icon-smile"></i>
                        <h2><strong data-to="4680">0</strong></h2>
                        <p class="text-c">Happy Customers</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="counters-item  row">
                        <i class="icon-food"></i>
                        <h2><strong data-to="865">0</strong></h2>
                        <p class="text-c">Dishes Served</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="counters-item  row">
                        <i class="icon-glass"></i>
                        <h2><strong data-to="510">0</strong></h2>
                        <p class="text-c">Total Beverages</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="counters-item  row">
                        <i class="icon-coffee"></i>
                        <h2><strong data-to="1350">0</strong></h2>
                        <p class="text-c">Cup of coffees</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!--Featured Receipes -->
    <section id="news" class="bg_grey padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="heading">Latest &nbsp; News</h2>
                    <hr class="heading_space">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="cheffs_wrap_slider">
                        <div id="news-slider" class="owl-carousel">
                            <div class="item">
                                <div class="news_content">
                                    <img src="/assets/frappe/images/news-img1.jpg" alt="Docotor">
                                    <div class="date_comment">
                                        <span>23<small>JUL</small></span>
                                       
                                    </div>
                                    <div class="comment_text">
                                        <h3><a href="#.">Kabab Weekend</a></h3>
                                        <p>Live kabab weekend was a huge success. People from all over the city enjoyed it.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="news_content">
                                    <img src="/assets/frappe/images/news-img2.jpg" alt="Docotor">
                                    <div class="date_comment">
                                        <span>22<small>JUL</small></span>
                                        <a href="#."><i class="icon-comment"></i> 5</a>
                                    </div>
                                    <div class="comment_text">
                                        <h3><a href="#.">Haweli Redecorate</a></h3>
                                        <p>We have redecorate the whole restaurant for more cozy ambiance.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="news_content">
                                    <img src="/assets/frappe/images/news-img1.jpg" alt="Docotor">
                                    <div class="date_comment">
                                        <span>23<small>JUL</small></span>
                                       
                                    </div>
                                    <div class="comment_text">
                                        <h3><a href="#.">Kabab Weekend</a></h3>
                                        <p>Live kabab weekend was a huge success. People from all over the city enjoyed it.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="news_content">
                                    <img src="/assets/frappe/images/news-img2.jpg" alt="Docotor">
                                    <div class="date_comment">
                                        <span>22<small>JUL</small></span>
                                        <a href="#."><i class="icon-comment"></i> 5</a>
                                    </div>
                                    <div class="comment_text">
                                        <h3><a href="#.">Haweli Redecorate</a></h3>
                                        <p>We have redecorate the whole restaurant for more cozy ambiance.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="news_content">
                                    <img src="/assets/frappe/images/news-img1.jpg" alt="Docotor">
                                    <div class="date_comment">
                                        <span>23<small>JUL</small></span>
                                       
                                    </div>
                                    <div class="comment_text">
                                        <h3><a href="#.">Kabab Weekend</a></h3>
                                        <p>Live kabab weekend was a huge success. People from all over the city enjoyed it.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="news_content">
                                    <img src="/assets/frappe/images/news-img2.jpg" alt="Docotor">
                                    <div class="date_comment">
                                        <span>22<small>JUL</small></span>
                                        <a href="#."><i class="icon-comment"></i> 5</a>
                                    </div>
                                    <div class="comment_text">
                                        <h3><a href="#.">Haweli Redecorate</a></h3>
                                        <p>We have redecorate the whole restaurant for more cozy ambiance.</p>
                                    </div>
                                </div>
                            </div>
                      
                 
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="order-form" class="order_section">
        <div class="container order_form padding">
            <div class="row">
                <div class="col-md-12 appointment_form">
                    <h2 class="heading">Online Order</h2>
                    <hr class="heading_space">
                    <div class="row">
                        <div class="col-md-8">
                            <form onSubmit="return false" id="order_form" class="callus">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div id="result" class="text-center"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <p> Delivery times are between 7:00 am and 5:00 pm.Contact Us to make arrangements for delivery outside these times.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Name" name="name" id="name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email address" name="email" id="email" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Phone No" name="phone" id="phone" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select class="form-control" id="deal" name="deal">
                                                <option> Select Deal </option>
                                                <option> Deal One ($200) </option>
                                                <option> Deal Two ($500) </option>
                                                <option> Deal Three ($900) </option>
                                                <option> Deal Four ($1300) </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea placeholder="Order Details" id="message" name="message" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="btn-submit btn-common-white">
                                                <input type="submit" value="Place &nbsp; Order" id="btn_order_submit" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </section>

    <!-- testinomial -->
    <section id="testinomial" class="padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="heading">Our &nbsp; happy &nbsp; Customers</h2>
                    <hr class="heading_space">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="testinomial-slider" class="owl-carousel text-center">
                        <div class="item">
                            <h3>Where to begin... we just went there to discuss that we had a small party of 45 people in our home and dont want to take any other food but indian and this is the best locaiton we can think of. Hats off to you guyz you made everything possible and so easy for us that we could'nt imagine. Thanks Haweli.</h3>
                            <p class="text-c">Kanna</p>
                        </div>
                        <div class="item">
                            <h3>We had our marriage party in this location which is in downtown location. I cant explain how much awesome was that event. Food staff is so friendly that they not let you worry about the whole program. We love Haweli a lot..</h3>
                            <p class="text-c">Theju</p>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}